# Игнорировать все временные файлы
*~
# Игнорировать все файлы в директориях Windows
.Application Data/
.Cookies/
.Local Settings/
.NetHood/
.PrintHood/
.Recent/
.SendTo/
# Игнорировать другие системные и временные файлы
.android/
.cache/
.config/
.gradle/
.ipynb_checkpoints/
.jupyter/
.m2/
.nuget/
.vscode/
